version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  build_and_test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Build application
          command: npm run build
      - run:
          name: Run unit tests
          command: npm run test

workflows:
  build_test:
    jobs:
      - build_and_test
