apiVersion: apps/v1
kind: Deployment
metadata:
  name: infoline-hello-world
  labels:
    app: infoline-hello-world
spec:
  replicas: 2
  selector:
    matchLabels:
      app: infoline-hello-world
  template:
    metadata:
      labels:
        app: infoline-hello-world
    spec:
      containers:
      - name: hello-world
        image: infoline-hello-world:1.0.0
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 5
